{% extends 'layout.html' %}

{% block body %}

    <div class="time_updated">Last updated: {{ last_update_time }} UTC</div>

    {% for group, urls in checkurls.items() %}

        <h1 class="group">{{ group }}</h1>
        {% for url in urls %}
            {% if returned_statuses.get(url) == "200" %}
                <p class="good-url">
                    <span class="good-color">{{ (' ' * 10) + returned_statuses.get(url) }}</span> {{ url }}
                </p>
            {% else %}
                <p class="bad-url">
                    <span class="bad-color">{{ (' ' * 10) + returned_statuses.get(url) }}</span> {{ url }}
                </p>
            {% endif %}
        {% endfor %}

    {% endfor %}
 
{% endblock %}
